@font-face {
    font-family: 'AlexBrushRegular';
    src: url('fonts/AlexBrushRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('city.jpg');
    background-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.pb-body {
    background-color: #8a458a;
}

.pb-navbar-collapse {
    margin-right: 15px !important;
}

.pb-container {
    width: 750px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.75);
}

.pb-navbar-icon {
    line-height: 1.42857143;
}

.pb-navbar-form {
    margin-left: -10px;
    margin-right: -10px;
}

.pb-add-btn {
    /* margin-right: 5px; */
}

.pb-notifications-btn {
    /* margin-right: 5px !important; */
}

.pb-promise-header {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.pb-promse-header-success {
    color: #3c763d;
}

.pb-promse-header-failure {
    color: #a94442;
}

.pb-promse-header-ongoing {
    color: #8a6d3b;
}

.pb-promise {
    /* height: 150px; */
    margin-bottom: 15px;
}

.pb-promise-list {
    padding-bottom: 0px;
}

.pb-promise-wrapper {
    display: none;
}

.pb-promise-footer-left {
    float: left;
}

.pb-promise-footer-right {
    float: right;
}

.pb-promise-footer-clear {
    clear: both;
}

.pb-progress {
    width: 75px;
    margin-bottom: 0px;
}

.pb-brand {
    text-align: center;
    font-family: 'AlexBrushRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}
