/*
body {
    background-color: #8a458a;
}
*/

body {
    background-image: url('sky.jpg');
    background-size: 100%;
}

.pb-jumbotron {
    width: 800px;
    margin: auto;
}

.pb-banner {
    margin-top: 150px;
}

.pb-banner-btn-group {
    width: 100%;
    text-align: center;
}

.pb-modal-dialog {
    width: 350px;
}
