@font-face {
    font-family: 'AlexBrushRegular';
    src: url('../fonts/AlexBrushRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../../img/cork.jpg');
    background-size: 100% auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.pb-container {
    margin: auto;
    margin-top: 75px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.75);
}

.pb-promise-header {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

.pb-promse-header-success {
    color: #3c763d;
}

.pb-promse-header-failure {
    color: #a94442;
}

.pb-promse-header-ongoing {
    color: #8a6d3b;
}

.pb-promise {
    /* height: 150px; */
    margin-bottom: 15px;
}

.pb-promise-list {
    padding-bottom: 0px;
}

.pb-promise-list-empty {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.pb-promise-wrapper {
    display: none;
}

.pb-promise-footer {
    margin-top: 10px;
}

.pb-promise-header-left {
    float: left;
}

.pb-promise-header-right {
    float: right;
}

.pb-promise-header-clear {
    clear: both;
}

.pb-brand, .pb-brand-abbr {
    text-align: center;
    font-family: 'AlexBrushRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    display: block;
}

.pb-brand-abbr {
    display: none;
}

.pb-brand-score {
    height: 50px;
    padding: 0px;
}

.pb-promise-attachment-content img {
    width: auto;
    height: 200px;
}

.pb-btns li {
    display: inline;
}

.pb-bell-btn {
    height: 34px;
    margin-left: 8px;
}

.pb-add-btn {
    margin-left: 8px;
}

.pb-inflate, .pb-deflate, .pb-status-completed, .pb-status-failed, .pb-status-removed {
    color: inherit;
    text-decoration: none;
}

.pb-inflate:link, .pb-deflate:link, .pb-status-completed:link, .pb-status-failed:link, .pb-status-removed:link {
    color: inherit;
    text-decoration: none;
}

.pb-inflate:visited, .pb-deflate:visited, .pb-status-completed:visited, .pb-status-failed:visited, .pb-status-removed:visited {
    color: inherit;
    text-decoration: none;
}

.pb-inflate:active, .pb-deflate:active, .pb-status-completed:link:active, .pb-status-failed:link:active, .pb-status-removed:link:active {
    color: inherit;
    text-decoration: none;
}

.pb-inflate:visited:active, .pb-deflate:visited:active, .pb-status-completed:visited:active, .pb-status-failed:visited:active, .pb-status-removed:visited:active {
    color: inherit;
    text-decoration: none;
}

.pb-modal-dialog {
    max-width: 450px;
}

.pb-promise-attachment-label {
    margin-top: 5px;
}

.pb-promise-tags {
    margin-top: 5px;
}

.pb-promise-tags-invisible {
    display: none;
}

.pb-invisible {
    display: none;
}

.pb-promise-list-loader {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.pb-progess {
    margin-bottom: 0px;
}

#createPromiseModalTagDescription {
    margin-top: 5px;
}

#scorePool {
    width: 50px;
    height: 50px;
    margin-left: -15px;
    cursor: pointer;
}

/*
#scorePool {
    margin-top: 4px;
}

#scorePool span {
    font-size: 12px;
}
*/


@media only screen and (max-device-width: 480px) {
    .pb-brand {
        display: none;
    }

    .pb-brand-abbr {
        display: block;
    }

    .pb-brand-score {
        margin-left: -15px;
    }

    .pb-promise-attachment-content img {
        width: 100%;
        height: auto;
    }
}
