body {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url('../../img/cork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.pb-social-button {
    max-width: 300px;
}

.pb-social-button-disconnected {
    background-color: #aaaaaa;
}
