<html>
    <head>
        <title>Promiseboard | Settings</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="Changing the way we make and keep our promises!" />
        <meta name="keywords" content="promise,resolution,board,commit,keep">

        <link rel="icon" href="img/icon.png" type="image/png" />
        <link rel="stylesheet" href="css/bootstrap-3.3.6/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome-4.5.0/css/font-awesome.css" />
        <link rel="stylesheet" href="css/bootstrap-social-4.11.0/bootstrap-social.css" />
        <link rel="stylesheet" href="css/views/settings.css" />

        <script src="js/jquery-1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap-3.3.6/bootstrap.min.js"></script>
        <script src="js/require-2.1.22/require.js"></script>
        <script src="js/views/settings.js"></script>
    </head>
    <body class="pb-body">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        Connect Promiseboard with your Instagram profile in order to use pictures and hashtags for commiting and completing your promises.
                    </p>
                    <a id="socialBtnInstagram" class="btn btn-block btn-social btn-instagram pb-social-button pb-social-button-disconnected" href="#">
                        <span class="fa fa-instagram"></span> <span id="socialBtnInstagramText"><!-- placeholder --></span>
                    </a>
                    <br />
                    <a href="board.html" class="btn btn-default">Back</a>
                </div>
            </div>
        </div>
    </body>
</html>
